Repository adevinta/spark-ios, pull requests merged in 2023-10, with the labels that each got.

#482 [Checkbox#474] change design of single checbox from UIkit side
  core/Sources/Components/Checkbox/Enum/CheckboxAlignment.swift
  core/Sources/Components/Checkbox/Enum/CheckboxIntent.swift
  core/Sources/Components/Checkbox/Enum/SelectButtonState.swift
  core/Sources/Components/Checkbox/Model/CheckboxColors.swift
  core/Sources/Components/Checkbox/Model/CheckboxViewModel.swift
  core/Sources/Components/Checkbox/Model/CheckboxViewModelTests.swift
  core/Sources/Components/Checkbox/Properties/Internal/CheckboxColorables.swift
  core/Sources/Components/Checkbox/Properties/Internal/CheckboxStateColors.swift
  core/Sources/Components/Checkbox/UseCase/Colors/CheckboxColorsUseCase.swift
  core/Sources/Components/Checkbox/UseCase/IntentColors/CheckboxStateColorsUseCase.swift
  core/Sources/Components/Checkbox/UseCase/IntentColors/CheckboxStateColorsUseCaseTests.swift
  core/Sources/Components/Checkbox/View/CheckboxViewModelTests.swift
  core/Sources/Components/Checkbox/View/SwiftUI/CheckboxGroupView.swift
  core/Sources/Components/Checkbox/View/SwiftUI/CheckboxView.swift
  core/Sources/Components/Checkbox/View/SwiftUI/Tests/CheckboxGroupViewTests.swift
  core/Sources/Components/Checkbox/View/SwiftUI/Tests/CheckboxViewTests.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxControlUIView.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxGroupItemProtocol.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxGroupUIView.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxUIView.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxUIViewActionTests.swift
  core/Sources/Components/Checkbox/View/UIKit/Tests/CheckboxGroupUIViewActionTests.swift
  core/Sources/Components/Checkbox/View/UIKit/Tests/CheckboxGroupUIViewTests.swift
  core/Sources/Components/Checkbox/View/UIKit/Tests/CheckboxUIViewActionTests.swift
  core/Sources/Components/Checkbox/View/UIKit/Tests/CheckboxUIViewTests.swift
  core/Sources/Components/SelectButton/Enum/SelectButtonState.swift
  spark/Demo/Classes/DemoIconography.swift
  spark/Demo/Classes/View/Components/Badge/SwiftUI/BadgeComponentView.swift
  spark/Demo/Classes/View/Components/Badge/UIKit/BadgeComponentUIView.swift
  spark/Demo/Classes/View/Components/Button/SwiftUI/ButtonComponentView.swift
  spark/Demo/Classes/View/Components/Checkbox/CheckboxViewModel.swift
  spark/Demo/Classes/View/Components/Checkbox/ComponentsCheckboxListView.swift
  spark/Demo/Classes/View/Components/Checkbox/SwiftUI/CheckboxGroupView.swift
  spark/Demo/Classes/View/Components/Checkbox/SwiftUI/CheckboxView.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/CheckboxGroupViewController.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/CheckboxViewController.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/NewTemplate/CheckboxComponentUIView.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/NewTemplate/CheckboxComponentUIViewController.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/NewTemplate/CheckboxComponentUIViewModel.swift
  spark/Demo/Classes/View/Components/Chip/SwiftUI/ChipComponentView.swift
  spark/Demo/Classes/View/Components/Chip/UIKit/ChipComponentUIView.swift
  spark/Demo/Classes/View/Components/Main/Configuration/UIKit/Item/ComponentsConfigurationItemView.swift
  spark/Demo/Classes/View/Components/Switch/SwiftUI/SwitchComponentView.swift
  spark/Demo/Classes/View/Components/Tab/SwiftUI/TabComponent.swift
Labels: ✅ Ready, UIKit, Component

#458 [Component] Chip SwiftUI
  core/Sources/Components/Chip/AccessiilityIdentifier/ChipAccessibilityIdentifier.swift
  core/Sources/Components/Chip/Enum/ChipConstants.swift
  core/Sources/Components/Chip/Model/ChipContent.swift
  core/Sources/Components/Chip/View/ChipViewModel.swift
  core/Sources/Components/Chip/View/ChipViewModelTests.swift
  core/Sources/Components/Chip/View/SwiftUI/ChipView.swift
  core/Sources/Components/Chip/View/SwiftUI/ChipViewSnapshotTests.swift
  core/Sources/Components/Chip/View/UIKit/ChipUIView.swift
  spark/Demo/Classes/View/Components/Chip/SwiftUI/ChipComponentView.swift
  spark/Demo/Classes/View/Components/Chip/UIKit/ChipComponentUIView.swift
  spark/Demo/Classes/View/Components/Chip/UIKit/ChipComponentUIViewModel.swift
Labels: ✅ Ready, SwiftUI

#510 [Fix] Remove broken test.
  core/Sources/Components/Chip/View/SwiftUI/ChipViewSnapshotTests.swift
Labels: Bug, ✅ Ready

#555 [checkbox#475] update checkbox group uikit side
  core/Sources/Components/Checkbox/Model/CheckboxViewModel.swift
  core/Sources/Components/Checkbox/Model/CheckboxViewModelTests.swift
  core/Sources/Components/Checkbox/UseCase/Colors/CheckboxColorsUseCase.swift
  core/Sources/Components/Checkbox/UseCase/Colors/CheckboxColorsUseCaseTests.swift
  core/Sources/Components/Checkbox/View/SwiftUI/CheckboxGroupViewSnapshotTests.swift
  core/Sources/Components/Checkbox/View/SwiftUI/CheckboxView.swift
  core/Sources/Components/Checkbox/View/SwiftUI/CheckboxViewSnapshotTests.swift
  core/Sources/Components/Checkbox/View/SwiftUI/Tests/CheckboxGroupViewTests.swift
  core/Sources/Components/Checkbox/View/SwiftUI/Tests/CheckboxViewTests.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxGroupUIView.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxGroupUIViewActionTests.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxGroupUIViewDelegate.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxGroupUIViewSnapshotTests.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxUIView.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxUIViewActionTests.swift
  core/Sources/Components/Checkbox/View/UIKit/CheckboxUIViewSnapshotTests.swift
  core/Sources/Components/Checkbox/View/UIKit/Tests/CheckboxGroupUIViewTests.swift
  core/Sources/Components/Checkbox/View/UIKit/Tests/CheckboxUIViewActionTests.swift
  core/Sources/Components/Checkbox/View/UIKit/Tests/CheckboxUIViewTests.swift
  spark/Demo/Classes/View/Components/Checkbox/ComponentsCheckboxListView.swift
  spark/Demo/Classes/View/Components/Checkbox/SwiftUI/CheckboxGroupView.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/Checkbox/CheckboxComponentUIView.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/Checkbox/CheckboxComponentUIViewController.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/Checkbox/CheckboxComponentUIViewModel.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/CheckboxGroup/CheckboxGroupComponentUIView.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/CheckboxGroup/CheckboxGroupComponentUIViewController.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/CheckboxGroup/CheckboxGroupComponentUIViewModel.swift
  spark/Demo/Classes/View/Components/Checkbox/UIKit/CheckboxGroupViewController.swift
  spark/Demo/Classes/View/Components/Chip/SwiftUI/ChipComponentView.swift
  spark/Demo/Classes/View/Components/Main/Configuration/UIKit/Item/ComponentsConfigurationItemUIType.swift
  spark/Demo/Classes/View/Components/Main/Configuration/UIKit/Item/ComponentsConfigurationItemView.swift
  spark/Demo/Classes/View/Components/Main/Configuration/UIKit/Item/ComponentsConfigurationItemViewModel.swift
Labels: ✅ Ready, UIKit, Component

#470 [TextField#453] Add-on text field
  core/Sources/Components/TextField/AddOn/Model/AddOnTextFieldViewModel.swift
  core/Sources/Components/TextField/AddOn/UIKit/AddOnTextFieldUIView.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetColorsUseCase.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetSpacingsUseCase.swift
  spark/Demo/Classes/View/Components/TextField/UIKit/TextFieldComponentUIView.swift
  spark/Demo/Classes/View/Components/TextField/UIKit/TextFieldComponentUIViewModel.swift
  spark/Demo/TextFieldUIViewController.swift
Labels: ✅ Ready, UIKit, Component

#581 [TextField#278] Clean up and add tests for textfield
  core/Sources/Components/TextField/AddOnTextField/Model/AddOnTextFieldViewModel.swift
  core/Sources/Components/TextField/AddOnTextField/Model/AddOnTextFieldViewModelTests.swift
  core/Sources/Components/TextField/AddOnTextField/UIKit/AddOnTextFieldUIView.swift
  core/Sources/Components/TextField/Enum/TextFieldBorderStyle.swift
  core/Sources/Components/TextField/StandaloneTextField/Model/TextFieldUIViewModel.swift
  core/Sources/Components/TextField/StandaloneTextField/Model/TextFieldUIViewModelTests.swift
  core/Sources/Components/TextField/StandaloneTextField/UIKit/TextFieldUIView.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetBordersUseCase.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetBordersUseCaseTests.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetColorsUseCase.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetColorsUseCaseTests.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetSpacingsUseCase.swift
  core/Sources/Components/TextField/UseCase/TextFieldGetSpacingsUseCaseTests.swift
Labels: ✅ Ready
